<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Atlan Users</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="Create new user:"></h1>
            <div class="card-body">
                <form th:action="@{/users}" th:object="${user}" method="post">
                    <div class="form-group">
                        <label>User Name</label>
                        <input
                                type="text"
                                name="userName"
                                th:field="*{name}"
                                class="from-control"
                                placeholder="Enter user name"
                        />
                    </div>

                    <div class="form-group">
                        <label>User Income</label>
                        <input
                                type="text"
                                name="userIncome"
                                th:field="*{income}"
                                class="from-control"
                                placeholder="Enter user income"
                        />
                    </div>

                    <div class="form-group">
                        <label>User Saving</label>
                        <input
                                type="text"
                                name="userSavings"
                                th:field="*{savings}"
                                class="from-control"
                                placeholder="Enter user savings"
                        />
                    </div>

                    <div class="form-group">
                        <label>User Email</label>
                        <input
                                type="text"
                                name="userEmail"
                                th:field="*{email}"
                                class="from-control"
                                placeholder="Enter user email"
                        />
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>